/*Background Variables*/
$bg-img:"/images/bg.jpg";
$bg-color:#162233;

/*Font*/
$main-font: Century Gothic;
$secondary-font:Impact;
$alt-font1: Verdana;
$main-text-color:#fff;

/*Other*/
$hover-color:#ff4576;
$main-border-color: #ffffff;

@mixin background-url($file)
{
	background:url($file)no-repeat center center;
}
@mixin transition($element, $speed, $ease)
{
	-moz-transition:$element $speed $ease;
	-o-transition:$element speed $ease;
	-webkit-transition:$element $speed $ease;
	-ms-transition:$element $speed $ease;
	transition:$element $speed $ease;
}

@mixin background-gradient($color1, $color2)
{
	background: -moz-linear-gradient($color1,$color2);
	background: -ms-linear-gradient($color1,$color2);
	background: -webkit-linear-gradient($color1,$color2);
	background: linear-gradient($color1,$color2);
}
.hidden
{
	display:none;
}
