 #main-container
{
	width:100%;
	height:420px;
	padding:60px;
	#main-header-container
	{
		height:140px;
		width:100%;
	}
	#getting-started
	{
		height:80px;
		width:250px;
		margin:50px auto;
		border-radius:10px;
		box-shadow: 2px 3px 3px #555;
		border:1px solid $main-border-color;
    background:transparentize($hover-color,0.3);
	}
	#getting-started:hover
	{
		cursor:pointer;
	}
	h1
	{
		text-align:center;
		font-size:86px;
	}
	h4
	{
		text-align:center;
    text-shadow: 2px 2px 2px #333;
    color:white;
		font-size:28px;
		line-height:55px;
    font-weight: bold;
	}
	p
	{
		text-align:center;
		font-size:30px;
	}
}
