$tools-img:"/jetstrap/images/tools.png";
$airplane-img:"/jetstrap//images/airplane.png";
$love-img:"/jetstrap/images/love.png";
.footer-container
{
	padding:10px;

	border-top:1px solid white;
	background:black;
	p
	{
		color:$main-text-color * 0.8;
		text-align:center;
		font-family:$main-font, $alt-font1;
	}
	h3
	{
		color:$main-text-color;
		font-family:$main-font, $alt-font1;
		text-align:center;
	}
	.ball
	{
		height:135px;
		width:135px;
		margin:auto;
		border-radius:100%;
	}
	#tools
	{
		@include background-url($tools-img);
	}
	#airplane
	{
		@include background-url($airplane-img);
	}
	#love
	{
		@include background-url($love-img);
	}
}
