.navbar-default
{
	background:$bg-color !important;
	border-radius: 0px !important;
	border:none !important;
	border-bottom: 1px solid white !important;
}
.main-nav
{
	z-index: 1001;
	background:red;
	ul
	{
		padding:0;
		margin:0;
		background:$bg-color;
		float:right;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	li
	{
		border-radius:3px;
		list-style:none;
		display:inline-block;
		padding:10px 20px;
		&:hover
		{
			@include transition(all, 700ms, ease);
			background:$hover-color;
			cursor:pointer;
		}
	}
	li:nth-child(6)
	{
		&:hover
		{
			background:none;
		}
	}
	a
	{
		text-decoration:none;
		font-family:$main-font, $alt-font1;
		color:$main-text-color !important;
	}
	#logo-container
	{
		display:inline-block;
		padding:10px;
		h1
		{
			color:$main-text-color;
			font-family:$secondary-font;
			margin-left:10%;
		}
		&:hover
		{
			cursor:pointer;
		}
	}
	#register-log-container
	{
		height:75px;
		background:$bg-color;
		padding:0;
		margin:0;
		h4
		{
			color:$main-text-color;
			font-family:$main-font, $alt-font1;
			text-align:center;
			font-size:14px;
			line-height:20px;
		}
	}
	.register-sign-item
	{
		height:40px;
		width:100px;
		display:inline-block;
		margin:17px -2px;
	}
	.register-sign-item:hover
	{
		cursor:pointer;
		opacity:0.7;
	}
	#log-in
	{
		background:#999;
		border-top-left-radius:25px;
		border-bottom-left-radius:25px;
	}
	#sign-up
	{
		background:$hover-color;
		border-top-right-radius:25px;
		border-bottom-right-radius:25px;
	}
}
